# Byte-code files
*.pyc
__pycache__/

# Distribution / build
/dist
/build
/*.egg-info/

# Virtual environment
/venv
/.venv
.env

reagentic_framework.egg

reagentic/providers/private*
ya.make

logs
libpy3ai-agents-reagentic.global.a